{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block jumbotron %}
  {{ super() }}
{% endblock %}

{% block container %}
<div class="container marketing">
  <div class="row">
    <div class="col-lg-4">
      <img class="rounded-circle" src="/static/img/placeholder.jpg" alt="Profile picture" width="140" height="140">
      <h2>Lora Griffin</h2>
      <p>
        <img src="/static/img/placeholder.jpg" alt="Facebook Logo" width="50" height="50">
        <img src="/static/img/placeholder.jpg" alt="Instagram Logo" width="50" height="50">
        <img src="/static/img/placeholder.jpg" alt="LinkedIn Logo" width="50" height="50">
        <img src="/static/img/placeholder.jpg" alt="Medium Logo" width="50" height="50">
        <img src="/static/img/placeholder.jpg" alt="GitHub Logo" width="50" height="50">
      </p>
    </div>
    <div class="col-lg-8">

      <h1>Contact</h1>

      <form action="/submitted" method="post">

        <div class="form-row">
          <div class="col">
            <input type="text" class="form-control" placeholder="First name" name="first_name">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Last name" name="last_name">
          </div>
        </div>

        <div class="form-row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Subject" name="subject">
          </div>
        </div>

        <div class="form-row">
          <div class="col">
            <textarea class="form-control" rows="4" placeholder="Content" name="message"></textarea>
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    </div>
  </div>
    {% block footer %}
      {{ super() }}
    {% endblock %}
</div>
{% endblock %}
