{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block jumbotron %}
  {{ super() }}
{% endblock %}

{% block container %}
<div class="container marketing">
  <div class="row">
    <div class="col-lg-6">
      <img class="rounded-circle" src="/static/img/100.jpg" alt="Profile picture" width="140" height="140">
      <h2>Lora Griffin</h2>
      <p>
        Social media:
      </p>
      <p>
        <img src="/static/img/placeholder.jpg" alt="Facebook Logo" width="50" height="50">
        <img src="/static/img/placeholder.jpg" alt="Instagram Logo" width="50" height="50">
        <img src="/static/img/placeholder.jpg" alt="LinkedIn Logo" width="50" height="50">
        <img src="/static/img/placeholder.jpg" alt="Medium Logo" width="50" height="50">
      </p>
    </div>
    <div class="col-lg-6">

      <h1>Contact</h1>

      <form action="" method="post">

        <div class="row">

          <div class="col">
            <input type="text" class="form-control" placeholder="First name" name="first_name">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Last name" name="last_name">
          </div>
          <div class="col">
            <div class="col">
              <input type="text" class="form-control" placeholder="Subject" name="subject">
          </div>
          <div class="col">
            <textarea class="form-control" rows="3" placeholder="Content" name="body"></textarea>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    </div>
  </div>
    {% block footer %}
      {{ super() }}
    {% endblock %}
</div>
{% endblock %}
